In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel('TP_concurso.xlsx')

In [3]:
df2 = df1.loc[df1['Tipo de tienda'] == 'CONVENIENCIA']

In [4]:
rutas_vdm = ['DIA.PROM.08','DIA.PROM.09','DIA.PROM.11','DIA.PROM.12','DIA.PROM.13'] #ahorita vemos que hacer con esto

In [5]:
df2_conv = df2[~df2['ruta'].isin(rutas_vdm)]

In [6]:
df2_vdm = df2[df2['ruta'].isin(rutas_vdm)]

In [7]:
df3_conv = df2_conv[['Store Number','SEMANA','City','State','Tipo de tienda','Region','Retailer',
'CADENA','ruta','Area Manager','Area Executive','Whisky','Tequila','Rum','Vodka']]

In [8]:
df3_vdm = df2_vdm[['Store Number','SEMANA','City','State','Tipo de tienda','Region','Retailer',
'CADENA','ruta','Area Manager','Area Executive','Whisky','Tequila','Rum','Vodka']]

In [9]:
weeks = [45]

In [10]:
weeks_headers = ['week45'] #length must be the same as previous line

In [11]:
df4_conv = df3_conv[df3_conv['SEMANA'].isin(weeks)]

In [12]:
df4_vdm = df3_vdm[df3_vdm['SEMANA'].isin(weeks)]

In [13]:
df5_conv = df4_conv.groupby(['Store Number','SEMANA','City','State','Tipo de tienda','Region','Retailer','CADENA','ruta',
'Area Manager','Area Executive']).sum().reset_index()

In [14]:
df5_vdm = df4_vdm.groupby(['Store Number','SEMANA','City','State','Tipo de tienda','Region','Retailer','CADENA','ruta',
'Area Manager','Area Executive']).sum().reset_index()

In [15]:
df5_conv['Tequila Score'] = np.where((df5_conv['Whisky'] >= 2) & (df5_conv['Tequila'] >= 1), ((df5_conv['Tequila'])*2 + ((df5_conv['Whisky'])-2)), 0)
df5_vdm['Tequila Score'] = np.where((df5_vdm['Whisky'] >= 1) & (df5_vdm['Tequila'] >= 1), ((df5_vdm['Tequila'])*2 + ((df5_vdm['Whisky'])-1)), 0)

In [16]:
df5_conv['Rum Score'] = np.where((df5_conv['Whisky'] >= 2) & (df5_conv['Rum'] >= 1), ((df5_conv['Rum'])*1 + ((df5_conv['Whisky'])-2)), 0)
df5_vdm['Rum Score'] = np.where((df5_vdm['Whisky'] >= 1) & (df5_vdm['Rum'] >= 1), ((df5_vdm['Rum'])*1 + ((df5_vdm['Whisky'])-1)), 0)

In [17]:
df5_conv['Vodka Score'] = np.where((df5_conv['Whisky'] >= 2) & (df5_conv['Vodka'] >= 1), ((df5_conv['Vodka'])*1 + ((df5_conv['Whisky'])-2)), 0)
df5_vdm['Vodka Score'] = np.where((df5_vdm['Whisky'] >= 1) & (df5_vdm['Vodka'] >= 1), ((df5_vdm['Vodka'])*1 + ((df5_vdm['Whisky'])-1)), 0)

In [18]:
df5_conv['Whisky Score'] = np.where(df5_conv['Whisky'] >= 3, (df5_conv['Whisky'])-2, 0)
df5_vdm['Whisky Score'] = np.where(df5_vdm['Whisky'] >= 2, (df5_vdm['Whisky'])-1, 0)

In [19]:
df5_conv['Total Score'] = df5_conv['Tequila Score'] + df5_conv['Rum Score'] + df5_conv['Vodka Score']
df5_vdm['Total Score'] = df5_vdm['Tequila Score'] + df5_vdm['Rum Score'] + df5_vdm['Vodka Score']

In [20]:
def conditionA(row):
    if row['Tequila'] >= 1:
        return 1
    else:
        return 0

In [21]:
def conditionB(row):
    if row['Rum'] >= 1:
        return 1
    else:
        return 0

In [22]:
def conditionC(row):
    if row['Vodka'] >= 1:
        return 1
    else:
        return 0

In [23]:
def conditionD(row):
    if row['Whisky'] >= 1:
        return 1
    else:
        return 0

In [24]:
df5_conv['Tequila2'] = df5_conv.apply(lambda row: conditionA(row), axis=1)
df5_vdm['Tequila2'] = df5_vdm.apply(lambda row: conditionA(row), axis=1)

In [25]:
df5_conv['Rum2'] = df5_conv.apply(lambda row: conditionB(row), axis=1)
df5_vdm['Rum2'] = df5_vdm.apply(lambda row: conditionB(row), axis=1)

In [26]:
df5_conv['Vodka2'] = df5_conv.apply(lambda row: conditionC(row), axis=1)
df5_vdm['Vodka2'] = df5_vdm.apply(lambda row: conditionC(row), axis=1)

In [27]:
df5_conv['Whisky2'] = df5_conv.apply(lambda row: conditionD(row), axis=1)
df5_vdm['Whisky2'] = df5_vdm.apply(lambda row: conditionD(row), axis=1)

In [28]:
df5_conv['Tequila2'] = df5_conv['Tequila2'] / 4
df5_conv['Rum2'] = df5_conv['Rum2'] / 4
df5_conv['Vodka2'] = df5_conv['Vodka2'] / 4
df5_conv['Whisky2'] = df5_conv['Whisky2'] / 4

In [29]:
df5_vdm['Tequila2'] = df5_vdm['Tequila2'] / 4
df5_vdm['Rum2'] = df5_vdm['Rum2'] / 4
df5_vdm['Vodka2'] = df5_vdm['Vodka2'] / 4
df5_vdm['Whisky2'] = df5_vdm['Whisky2'] / 4

In [30]:
df_score_conv = df5_conv[['Store Number','ruta','SEMANA',
'Whisky','Tequila','Rum','Vodka','Total Score']]

In [31]:
df_score_vdm = df5_vdm[['Store Number','ruta','SEMANA',
'Whisky','Tequila','Rum','Vodka','Total Score']]

In [32]:
df_extrap_conv = df5_conv[['Store Number','ruta','SEMANA',
'Tequila2','Rum2','Vodka2','Whisky2']]

In [33]:
df_extrap_vdm = df5_vdm[['Store Number','ruta','SEMANA',
'Tequila2','Rum2','Vodka2','Whisky2']]

In [34]:
df_score_ruta_conv = df_score_conv.groupby(['ruta','SEMANA']).agg({
'Store Number': 'count',
'Whisky': 'sum',
'Tequila': 'sum',
'Rum': 'sum',
'Vodka': 'sum',
'Total Score': 'sum',
}).reset_index()

In [35]:
df_score_ruta_vdm = df_score_vdm.groupby(['ruta','SEMANA']).agg({
'Store Number': 'count',
'Whisky': 'sum',
'Tequila': 'sum',
'Rum': 'sum',
'Vodka': 'sum',
'Total Score': 'sum',
}).reset_index()

In [36]:
df_score_ruta_conv = df_score_ruta_conv[['ruta','SEMANA','Total Score']]

In [37]:
df_score_ruta_vdm = df_score_ruta_vdm[['ruta','SEMANA','Total Score']]

In [38]:
pivot_weekly_score_conv = pd.pivot_table(df_score_ruta_conv,
index=['ruta'],
columns=['SEMANA'], aggfunc='sum', fill_value=0).reset_index()

In [39]:
pivot_weekly_score_vdm = pd.pivot_table(df_score_ruta_vdm,
index=['ruta'],
columns=['SEMANA'], aggfunc='sum', fill_value=0).reset_index()

In [40]:
pivot_weekly_score_conv.columns = pivot_weekly_score_conv.columns.get_level_values(0)

In [41]:
pivot_weekly_score_vdm.columns = pivot_weekly_score_vdm.columns.get_level_values(0)

In [42]:
pivot_weekly_score_conv.columns = pivot_weekly_score_conv.columns[:1].tolist() + weeks_headers

In [43]:
pivot_weekly_score_vdm.columns = pivot_weekly_score_vdm.columns[:1].tolist() + weeks_headers

In [44]:
df_extrap_store_conv = df_extrap_conv.groupby(['Store Number','ruta']).agg({
'Store Number': 'count',
'Tequila2': 'sum',
'Rum2': 'sum',
'Vodka2': 'sum',
'Whisky2': 'sum',
})

In [45]:
df_extrap_store_vdm = df_extrap_vdm.groupby(['Store Number','ruta']).agg({
'Store Number': 'count',
'Tequila2': 'sum',
'Rum2': 'sum',
'Vodka2': 'sum',
'Whisky2': 'sum',
})

In [46]:
df_extrap_store_conv = df_extrap_store_conv.rename(columns={'Store Number': 'Weeks visited'}).reset_index()

In [47]:
df_extrap_store_vdm = df_extrap_store_vdm.rename(columns={'Store Number': 'Weeks visited'}).reset_index()

In [48]:
df_extrap_store_conv['Tequila EP'] = [2 if x == 1 else 0 for x in df_extrap_store_conv['Tequila2']]
df_extrap_store_conv['Rum EP'] = [2 if x == 1 else 0 for x in df_extrap_store_conv['Rum2']]
df_extrap_store_conv['Vodka EP'] = [2 if x == 1 else 0 for x in df_extrap_store_conv['Vodka2']]
df_extrap_store_conv['Whisky EP'] = [2 if x == 1 else 0 for x in df_extrap_store_conv['Whisky2']]
df_extrap_store_conv['Total EP'] = df_extrap_store_conv['Tequila EP'] + df_extrap_store_conv['Rum EP'] + df_extrap_store_conv['Vodka EP'] + df_extrap_store_conv['Whisky EP']

In [49]:
df_extrap_store_vdm['Tequila EP'] = [2 if x == 1 else 0 for x in df_extrap_store_vdm['Tequila2']]
df_extrap_store_vdm['Rum EP'] = [2 if x == 1 else 0 for x in df_extrap_store_vdm['Rum2']]
df_extrap_store_vdm['Vodka EP'] = [2 if x == 1 else 0 for x in df_extrap_store_vdm['Vodka2']]
df_extrap_store_vdm['Whisky EP'] = [2 if x == 1 else 0 for x in df_extrap_store_vdm['Whisky2']]
df_extrap_store_vdm['Total EP'] = df_extrap_store_vdm['Tequila EP'] + df_extrap_store_vdm['Rum EP'] + df_extrap_store_vdm['Vodka EP'] + df_extrap_store_vdm['Whisky EP']

In [50]:
df_extrap_store_conv = df_extrap_store_conv[['Store Number','ruta','Weeks visited','Tequila EP','Rum EP','Vodka EP','Whisky EP','Total EP']]

In [51]:
df_extrap_store_vdm = df_extrap_store_vdm[['Store Number','ruta','Weeks visited','Tequila EP','Rum EP','Vodka EP','Whisky EP','Total EP']]

In [52]:
df_extrap_ruta_conv = df_extrap_store_conv[['ruta','Total EP']]

In [53]:
df_extrap_ruta_vdm = df_extrap_store_vdm[['ruta','Total EP']]

In [54]:
df_extrap_ruta_conv = df_extrap_ruta_conv.groupby('ruta').sum().reset_index()

In [55]:
df_extrap_ruta_vdm = df_extrap_ruta_vdm.groupby('ruta').sum().reset_index()

In [56]:
pivot_weekly_score_consolidated = pivot_weekly_score_conv.append(pivot_weekly_score_vdm)

In [57]:
df_extrap_ruta_consolidated = df_extrap_ruta_conv.append(df_extrap_ruta_vdm)

In [58]:
df_leaderboard = pivot_weekly_score_consolidated.merge(df_extrap_ruta_consolidated, on='ruta')

In [59]:
df_leaderboard['Final Score'] = df_leaderboard.sum(axis=1, numeric_only=True)

In [60]:
df_leaderboard = df_leaderboard.sort_values(by='Final Score', ascending=False)

In [61]:
df_leaderboard['Lugar'] = np.arange(1,len(df_leaderboard)+1)

In [62]:
df_score_consolidated = df_score_conv.append(df_score_vdm)

In [63]:
df_extrap_store_consolidated = df_extrap_store_conv.append(df_extrap_store_vdm)

In [64]:
df_leaderboard.head() #portada del sitio web, ordenar del primer al ultimo lugar

           ruta  week45  Total EP  Final Score  Lugar
10  DIA.PROM.16     769         0          769      1
17  DIA.PROM.23     680         0          680      2
16  DIA.PROM.22     311         0          311      3
0   DIA.PROM.01     216         0          216      4
9   DIA.PROM.15     187         0          187      5

In [65]:
df_extrap_store_consolidated.head() #usar esta en una pagina para comprobar puntos extra

,Store Number,ruta,Weeks visited,Tequila EP,Rum EP,Vodka EP,Whisky EP,Total EP
0,5416,DIA.PROM.01,1,0,0,0,0,0
1,5427,DIA.PROM.01,1,0,0,0,0,0
2,5435,DIA.PROM.03,1,0,0,0,0,0
3,5438,DIA.PROM.01,1,0,0,0,0,0
4,5440,DIA.PROM.01,1,0,0,0,0,0

In [66]:
df_score_consolidated.head() #usar esta en una pagina para comprobar puntos base, con filtros en store, ruta y semana

   Store Number         ruta  SEMANA  Whisky  Tequila  Rum  Vodka  Total Score
0          5416  DIA.PROM.01      45       4        0    0      1            3
1          5427  DIA.PROM.01      45       4        0    1      0            3
2          5435  DIA.PROM.03      45       1        0    0      0            0
3          5438  DIA.PROM.01      45       2        1    0      0            2
4          5440  DIA.PROM.01      45       2        1    0      0            2

In [67]:
df_leaderboard = df_leaderboard.rename(columns={
'Total EP': 'ep',
'Final Score': 'fs'
})

In [68]:
df_extrap_store_consolidated = df_extrap_store_consolidated.rename(columns={
'Store Number': 'store',
'SEMANA': 'week',
'Weeks visited': 'wv',
'Whisky EP': 'whisky',
'Tequila EP': 'tequila',
'Rum EP': 'ron',
'Vodka EP': 'vodka',
'Total EP': 'ep'
})

In [69]:
df_score_consolidated = df_score_consolidated.rename(columns={
'Store Number': 'store',
'SEMANA': 'week',
'Whisky': 'whisky',
'Tequila': 'tequila',
'Rum': 'rum',
'Vodka': 'vodka',
'Total Score': 'score'
})

In [70]:
df2_store_names = df2[['Store Number','Store Name']]

In [71]:
df2_store_names = df2_store_names.rename(columns={
'Store Number': 'store',
'Store Name': 'name'
})

In [72]:
df2_store_names = df2_store_names.drop_duplicates(subset='store')

In [73]:
df_score_consolidated = df_score_consolidated.merge(df2_store_names, how='left')

In [74]:
df_score_consolidated = df_score_consolidated[['name','ruta','week','whisky','tequila','rum','vodka','score']]

In [75]:
df_leaderboard.to_json('leaderboard_conv.js', orient='records')

In [76]:
df_score_consolidated.to_json('score_conv.js', orient='records')